<div class="content-wrapper m-0 bg-light" style="min-height: 1854.8px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <h1>รายงาน</h1>
                </div>
                <div class="col-sm-2">
                    <!-- <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>   
                    <li class="breadcrumb-item active">Calendar</li>
                </ol> -->
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-primary">
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>ชื่อฟอร์ม</th>
                                        <th>เพศ</th>
                                        <th>สถานภาพ</th>
                                        <th>อายุ</th>
                                        <th>ระดับการศึกษา</th>
                                        <th>อาชีพ</th>
                                        <th>ค่าเฉลี่ย</th>
                                        <!-- <th style="width: 150px"></th> -->
                                    </tr>
                                </thead>
                                <tbody *ngIf="DataReport && DataReport.data && DataReport.data.length > 0">
                                    <tr *ngFor="let item of DataReport.data; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.mainFormName}}</td>
                                        <td *ngFor="let item2 of item.answers">{{item2.options.nameOption}}</td>
                                        <td>{{item.mean}}</td>
                                        <td>{{item.text}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!DataReport && !DataReport.data && DataReport.data.length == 0">
                                    <tr>
                                        <td colspan="8" style="text-align: center;">ไม่มีข้อมูล</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix" *ngIf="DataReport && DataReport.data && DataReport.data.length > 0">
                            <span class="pagination pagination-sm m-0 float-right">
                                <ngb-pagination class="d-flex justify-content-end" [maxSize]="5" [rotate]="true"
                                    [boundaryLinks]="true" [collectionSize]="ngPang.total" [(page)]="ngPang.Pang"
                                    (click)="pageTest()">
                                </ngb-pagination>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>