<div class="content-wrapper m-0 bg-light" style="min-height: 1854.8px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <h1>ผลคะแนนรวม</h1>
                </div>
                <div class="col-sm-2">
                    
                    <!-- <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ol> -->
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6" *ngFor="let item of DataChart.data; let i = index">
                    <div class="card " >
                        <div class="card-header" >
                            <h3 class="card-title">{{item.title}}</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chart">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [labels]="chartOptions.labels" [responsive]="chartOptions.responsive"></apx-chart>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>