<div class="container">
    <div class="row" style="margin-top: 1rem;">
        <div class="container">
            <div class="card card-outline card-primary">
                <div class="card-header" style="height: 8rem;">
                    <h3 style="margin-top: 1rem;">{{DataResQuestion.nameForm}}</h3>
                    <!-- /.card-tools -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
    <div class="row" style="margin-top: 5px;" *ngFor="let item of DataResQuestion.mainTitle;  let i = index">
        <div class="container">

            <div class="card">
                <div class="card-header" style="margin-top: 10px;">
                    <h5 class="card-subtitle mb-2 ">{{item.mainTitle}}</h5>
                    <!-- /.card-tools -->
                </div>
                <div class="card-body" style="margin-left: 1rem;">
                    <span *ngFor="let item2 of item.titles; let i2 = index">
                        <label>{{item2.title}}</label>
                        <span *ngIf="CheckRed === true" style="color: red;">* จำเป็นต้องเลือก</span>
                        <div class="form-group" style="padding-bottom: 5px;">
                            <div class="form-check" *ngFor="let item3 of item2.options; let i3 = index ">
                                <label class="form-check-label">
                                    <input class="form-checkmark-input" type="radio" (click)="selectItem(i, i2, i3)"
                                        [checked]="item3.isSelect">
                                    {{item3.nameOption}}
                                </label>
                                {{item3 | json}}
                            </div>
                        </div>
                    </span>
                </div>
            </div> 
        </div>
    </div>


    <div class="card-footer">
        <button type="submit" class="btn btn-primary  float-right" (click)="SubmitDataQuestion()">บันทึก</button>
    </div>
</div>