<div class="container">
    <div class="row" style="margin-top: 1rem;">
        <div class="container">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="m-0">แบบสอบถามความสุขมวลรวม (ฉบับย่อ)</h3>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted">ตอนที่1 ข้อมูลทั่วไป</h6>
                    <!-- /.card-tools -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
    <div class="row" style="margin-top: 5px;">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <label>1. เพศ</label>
                    <div class="form-group" style="padding-bottom: 5px;">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="radio1">
                                ชาย
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>