<div class="container" *ngIf="DataResQuestion && DataResQuestion.maintitle && DataResQuestion.maintitle.length > 0" style="background-color:#0bbff4;">
    <div class="row" style="margin-top: 1rem;">
        <div class="container">
            <div class="card card-outline">
                <div class="card-header">
                    <h5 style="margin-top: 1rem;text-align: center;">{{DataResQuestion.nameForm}}</h5>
                    <!-- /.card-tools -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
    <div class="row" style="margin-top: 5px;" *ngFor="let item of DataResQuestion.maintitle;  let i = index">
        <div class="container">
            <div class="card">
                <div class="card-header" style="margin-top: 10px;">
                    <h5 class="card-subtitle mb-2 ">{{item.mainTitle}}</h5>
                    <!-- /.card-tools -->
                </div>
                <div class="card-body" style="margin-left: 1rem;">
                    <span *ngFor="let item2 of item.titles; let i2 = index">
                        <label class="col-form-label"
                            [ngClass]="{'is-red': CheckRed && item2.isCheck !== true}">{{item2.title}}</label>
                        <div class="form-group" style="padding-bottom: 5px;">
                            <div class="form-check" [ngClass]="{'form-check2' : item3.IsColor === true}" *ngFor="let item3 of item2.options; let i3 = index ">
                                <label class="form-check-label" style="margin-bottom: 10px;" [ngClass]="{'form-check-label2' : item3.IsColor === true}">
                                    <input class="form-checkmark-input" type="radio" (click)="selectItem(i, i2, i3)"
                                        [checked]="item3.isSelect">
                                    {{item3.nameOption}}
                                </label>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

        <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 1rem;"
            (click)="SubmitDataQuestion(content)">บันทึก</button>

            <div class="row" style="margin-top: 5px;">
                <div class="container">
                    <div class="card">
                        <div class="card-body" style="margin-left: 1rem;">
                            <p class="font-weight-bold text-right">แบบสอบถามดังกล่าวพัฒนาจากงานวิจัยของต้องรัก จิตรบรรเทา (2562) และเป็นส่วนหนึ่งจากยุทธศาสตร์ที่ 1 การพัฒนาท้องถิ่น โครงการส่งเสริมสุขภาวะชุมชนเพื่อวัดดัชนีวัดความสุขมวลรวมชุมชน มหาวิทยาลัยราชภัฏเชียงราย</p>
                        </div>
                    </div>
                </div>
            </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-body" style="text-align: center;" *ngIf="data2 && data2.text">
            <p>{{data2.text}}</p>
        </div>
        <div class="modal-footer" *ngIf="data2 && data2.text">
            <button type="button" class="btn btn-primary btn-block" (click)="SwPage(); c('Save click')">ตกลง</button>
        </div>
    </ng-template>

</div>