<div class="container">
    <div class="jumbotron text-center" style="margin-top: 10rem">
        <h1 class="display-3">ขอบคุณค่ะ</h1>
        <hr>
        <p class="lead"><strong>คุณได้ทำแบบสอบถามเสร็จสิ้นเรียบร้อยแล้ว</strong></p>

        <!-- <p>
            Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to
                homepage</a>
        </p> -->
    </div>
</div>